html, body {
  margin: 0;
  padding: 0;
  background-color: #0D1117;
  overscroll-behavior: none;
}

p {
  font-family: p22-underground, sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.83;
}

.Page-Logo {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: auto;
  margin: 4rem 3rem;
  z-index: 2;
}
.Page-Logo .logo {
  font-family: rig-solid-bold-reverse, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2.375rem;
  transition: all 0.3s ease-in-out;
}
.Page-Logo:hover a {
  color: #5FD972;
  scale: 1.1;
}

.Hamburger {
  display: block;
  position: fixed;
  top: 0;
  right: 250px;
  margin-top: 4rem;
  width: 2rem;
  height: auto;
  z-index: 2;
  cursor: pointer;
}
.Hamburger .Hamburger-Line {
  display: block;
  width: 100%;
  height: 0.125rem;
  margin: 7px 0;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.Hamburger .Hamburger-Line:nth-child(2) {
  width: 75%;
}
.Hamburger:hover .Hamburger-Line {
  width: 75%;
}
.Hamburger:hover .Hamburger-Line:nth-child(2) {
  width: 100%;
}

#c {
  display: block;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

.Nav-Bar {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 2;
  background-color: #0D1117;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.4'%3E%3Cpolygon fill='%230f141b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2311171f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23141923' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23161c27' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23181F2B' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.Nav-Bar-Container {
  height: 100%;
  width: 100%;
}

.close-button {
  width: auto;
  height: auto;
  padding: 1rem 0 0 3rem;
}
.close-button button {
  font-family: rig-solid-bold-reverse, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 4.188rem;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.close-button button:hover {
  transform: translateY(-10px) rotate(180deg) scale(1.1);
}

.Nav-Bar-Links {
  width: 100%;
  padding: 0;
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
}
.Nav-Bar-Links ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.Nav-Bar-Links ul .Nav-Item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: " ";
  background: #aaa;
  height: 1.04rem;
  text-align: left;
  margin: 0;
}
.Nav-Bar-Links ul .Nav-Item {
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.514);
  position: relative;
}
.Nav-Bar-Links ul .Nav-Item:hover a {
  position: relative;
  color: #0D1117;
  z-index: 10;
}
.Nav-Bar-Links ul .Nav-Item:hover:after {
  animation: fill 0.65s forwards;
  -webkit-animation: fill 0.65s forwards;
  -moz-animation: fill 0.65s forwards;
  opacity: 1;
}
.Nav-Bar-Links a {
  font-family: rig-solid-bold-reverse, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 3.188rem;
  padding: 0px;
  margin-left: 150px;
  transition: color 0.65s ease-in-out;
}
.Nav-Bar-Links a:hover {
  scale: 1.2;
}

.socials {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: auto;
}
.socials li {
  margin: 0 1rem;
}
.socials li a {
  font-size: 2.375rem;
  color: white;
  opacity: 83%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.socials li a:hover {
  color: #5FD972;
}

.container {
  position: absolute;
  width: 100%;
  height: fit-content;
  z-index: 1;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, minmax(240px, 1fr));
  grid-gap: 1rem;
  align-items: center;
}
.grid .grid-item {
  grid-column: span 3/5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid .grid-item .h1 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.188rem;
  color: white;
  opacity: 83%;
  text-align: center;
  margin: 0;
}
.grid .grid-item .h2 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.375rem;
  color: white;
  opacity: 83%;
  text-align: center;
  margin: 0;
}
.grid .grid-item .line {
  border-color: white;
  width: 110%;
}
.grid .grid-item .p {
  margin: 0;
  padding: 0;
  width: 75%;
  text-align: center;
}
.grid .grid-item .button {
  position: relative;
  margin-top: 1rem;
  height: 40px;
  width: 160px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0 15px 0 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
  background-color: rgba(255, 255, 255, 0.1);
  align-self: flex-end;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.grid .grid-item .button::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 100%;
  opacity: 0;
  content: " ";
  background: linear-gradient(54deg, #5fd972 0%, #77c3f2 100%);
  z-index: -1;
  height: 100%;
  text-align: left;
  margin: 0;
  border-radius: 0 15px 0 15px;
  transition: all 0.3s ease-out;
}
.grid .grid-item .button:hover {
  border-radius: 15px 0 15px 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);
  transform: translateY(-5px);
}
.grid .grid-item .button:hover:after {
  width: 100%;
  border-radius: 15px 0 15px 0;
  opacity: 1;
}
.grid .grid-item .button:hover a {
  color: #0D1117;
}
.grid .grid-item .button a {
  text-decoration: none;
  font-family: roc-grotesk, sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  color: white;
  transition: all 0.45s ease-out;
}
.grid .scroll-down {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid .scroll-down:hover a {
  animation: moveDown 1s forwards infinite;
  -webkit-animation: moveDown 1s forwards infinite;
  -moz-animation: moveDown 1s forwards infinite;
}
.grid .scroll-down:hover .text {
  transform: translateY(7px);
  opacity: 1;
}
.grid .scroll-down a {
  text-decoration: none;
  color: #fff;
  font-size: 1.312rem;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 0.5;
}
.grid .scroll-down .text {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1rem;
  font-family: rig-solid-bold-reverse, sans-serif;
  font-weight: 500;
  opacity: 0.75;
  transition: all 0.3s ease-in-out;
}

.About {
  flex-direction: row !important;
  grid-column: span 5/5 !important;
  justify-content: space-around !important;
}

.display {
  position: relative;
  font-size: 9.375rem;
  color: white;
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  margin: 10px;
  padding: 0;
  opacity: 50%;
  align-self: start;
}
.display::after {
  position: absolute;
  bottom: 20px;
  left: -10%;
  right: 0;
  margin: auto;
  width: 120%;
  content: " ";
  border: #fff solid 1px;
  height: 100%;
  text-align: left;
  margin: 0;
}

.Content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.about-text {
  background-color: rgba(255, 255, 255, 0.4);
  color: #0D1117;
  backdrop-filter: blur(10px);
  padding: 8px;
  border-radius: 15px 0 15px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(190px, 1fr));
    gap: 0.5rem;
  }
  .grid .grid-item {
    grid-column: span 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
  }
  .grid .grid-item .h1 {
    font-size: 2.375rem;
    font-weight: 600;
    text-align: center;
    opacity: 0.83;
  }
  .grid .grid-item .h2 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  .grid .grid-item .p {
    width: 95%;
    font-weight: 400;
    text-align: center;
  }
  .grid .grid-item .line {
    border-color: white;
    width: 75%;
  }
  .grid .grid-item .button {
    align-self: center;
  }

  .Nav-Bar-Links a {
    margin: 0 4rem;
  }

  .close-button {
    padding: 0 1rem;
  }

  .Hamburger {
    margin: 1rem;
    right: 1rem;
    top: 0;
    scale: 0.8;
  }

  .Page-Logo {
    margin: 1rem;
  }
  .Page-Logo .logo {
    font-size: 1.312rem;
  }

  .socials {
    justify-content: space-around;
  }

  .scroll-down {
    order: 2;
    grid-column: span 4/5;
    grid-row: 2/span 1;
    align-self: start;
  }
  .scroll-down .text {
    display: flex;
  }
  .scroll-down .text li {
    margin: 0 0.75rem;
  }
}
@media screen and (max-width: 820px) and (min-width: 430px) {
  .Hamburger {
    margin: 4rem 0;
    right: 4rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 75vh auto;
    height: 100vh;
    gap: 0.5rem;
  }
  .grid .grid-item {
    grid-column: span 3/4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px;
  }
  .grid .grid-item .h1 {
    font-size: 3.188rem;
    text-align: center;
  }
  .grid .grid-item .h2 {
    font-size: 2.375rem;
    text-align: center;
  }
  .grid .grid-item .p {
    width: 95%;
    text-align: center;
  }
  .grid .grid-item .line {
    border-color: white;
    width: 95%;
  }

  .scroll-down {
    order: 2;
    grid-column: span 4/5;
    grid-row: 2/span 1;
    align-self: start;
  }
  .scroll-down .text {
    display: flex;
  }
  .scroll-down .text li {
    margin: 0 0.75rem;
  }

  .about {
    margin-left: 3rem;
  }
  .about .line {
    width: 110% !important;
  }

  .display {
    font-size: 7.5rem;
    align-self: center;
  }
  .display br {
    display: none;
  }

  .about-text {
    align-self: center;
  }
}
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    height: 4px;
    width: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes moveDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(25px);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
