//Fonts family
$primaryFont : roc-grotesk, sans-serif;
$secondaryFont :  p22-underground, sans-serif; 
$altFont :  rig-solid-bold-reverse, sans-serif;
//Font sizes
$fontXS : 0.562rem;
$fontS : 0.750rem;
$fontR1 : 1.000rem;
$fontL : 1.312rem;
$fontXL : 1.750rem;
$font2L : 2.375rem;
$font3L : 3.188rem;
$font4L : 4.188rem;
$font5L : 5.625rem;
$font6L : 7.500rem;
$font7L : 9.375rem;
//Colors
$bgColor : #0D1117;
$bgColor-400 : #181F2B;
$bgColor-300 : #232E3E;
$bgColor-200 : #2E3C52;



html, body{
    margin: 0;
    padding: 0;
    background-color: $bgColor;
    overscroll-behavior: none;
  }
p{
    font-family: $secondaryFont;
    font-size: $fontR1;
    color: #fff;
    font-weight: 400;
    line-height: 1.25;
    opacity: .83;
}
.Page-Logo{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: auto;
  margin: 4rem 3rem;
  z-index: 2;
  .logo{
    font-family: $altFont;
    text-decoration: none;
    color: white;
    font-size: $font2L;
    transition: all 0.3s ease-in-out;
  } 
  &:hover a{
    color: #5FD972;
    scale: 1.1;
    //box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 8px rgba(0, 0, 0, 0.14), 0px 1px 14px rgba(0, 0, 0, 0.12);
  }
}
.Hamburger{
  display: block;
  position: fixed;
  top: 0;
  right: 250px;
  margin-top: 4rem;
  width: 2rem;
  height: auto;
  z-index: 2;
  cursor: pointer;
  .Hamburger-Line{
    display: block;
    width: 100%;
    height: 0.125rem;
    margin: 7px 0;
    background-color: white;
    transition: all 0.2s ease-in-out;
    &:nth-child(2){
      width: 75%;
    }
  }
  &:hover .Hamburger-Line{
    width: 75%;
    &:nth-child(2){
      width: 100%;
    }
  }
}


#c {
  display: block;
  position: fixed;
  z-index: 0;
  top:0;
  left: 0;
} 

.Nav-Bar{
  padding: 0;
  position: fixed;
  top: 0;
  right:0;
  width: 0;
  height: 100%;
  
  z-index: 2;
  background-color: #0D1117;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.4'%3E%3Cpolygon fill='%230f141b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2311171f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23141923' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23161c27' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23181F2B' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.Nav-Bar-Container{
  height: 100%;
  width: 100%;
}
.close-button{
  width: auto;
  height: auto;
  padding: 1rem 0 0 3rem ;
  button{
    font-family: $altFont;
    text-decoration: none;
    color: white;
    font-size: $font4L;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover{
      transform: translateY(-10px) rotate(180deg)  scale(1.1);
      //box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 8px rgba(0, 0, 0, 0.14), 0px 1px 14px rgba(0, 0, 0, 0.12);
    }
    transition: all .3s ease-in-out;
  }
}
.Nav-Bar-Links{
  width: 100%;
  padding: 0;
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  ul{
    list-style: none;
    padding: 0;
    width: 100%;
    .Nav-Item::after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ' ';
      background: #aaa;
      height: 1.04rem;
      text-align: left;
      margin: 0;
    }
    .Nav-Item{
      padding: 1rem 0;
      transition: all 0.3s ease-in-out;
      border-bottom: 1px solid rgba(255, 255, 255, 0.514);
      position: relative;
      &:hover a{
          position: relative;
          color: $bgColor;
          z-index: 10
      }
      &:hover:after{
        animation: fill .65s forwards;
        -webkit-animation: fill .65s forwards;
        -moz-animation: fill .65s forwards;
        opacity: 1;
      }
    }
  }

  a{
    font-family: $altFont;
    text-decoration: none;
    color: white;
    font-size: $font3L;
    padding: 0px;
    margin-left: 150px;
    transition: color 0.65s ease-in-out;
    &:hover{
      scale: 1.2;
    }
  }
}
.socials{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: auto;
  li{
      margin: 0 1rem;
      a{
        font-size: $font2L;
        color: white;
        opacity: 83%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: #5FD972;
      }
    }
  }
}

.container{
  position: absolute;
  width: 100%;
  height: fit-content;
  z-index: 1;
}
.grid{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, minmax(240px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  .grid-item{
    grid-column: span 3/5;
    display: flex;
    align-items: center;
    flex-direction: column;
    .h1{
      font-family: $primaryFont;
      font-weight: 400;
      font-style: normal;
      font-size: $font4L;
      color: white;
      opacity: 83%;
      text-align: center;
      margin: 0;
    }
    .h2{ 
      font-family: $primaryFont;
      font-weight: 400;
      font-style: normal;
      font-size: $font2L;
      color: white;
      opacity: 83%;
      text-align: center;
      margin: 0;
    }
    .line{
      border-color: white;
      width: 110%;
    }
    .p{
      margin: 0;
      padding: 0;
      width: 75%;
      text-align: center;
    }
    .button{
      position: relative;
      margin-top: 1rem;
      height: 40px;
      width: 160px;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border-radius: 0 15px 0 15px ;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
      background-color: rgba(255, 255, 255, 0.1);
      align-self: flex-end;
      backdrop-filter: blur(10px);
      transition: all 0.3s ease-out;
      cursor: pointer;
      &::after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width:0%;
        height: 100%;
        opacity: 0;
        content: ' ';
        background: linear-gradient(54deg, rgba(95,217,114,1) 0%, rgba(119,195,242,1) 100%); 
        z-index: -1;
        height: 100%;
        text-align: left;
        margin: 0;
        border-radius: 0 15px 0 15px ;
        transition: all .3s ease-out;
      }
      &:hover{
        border-radius: 15px 0 15px 0 ;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);
        transform: translateY(-5px);
      }
      &:hover:after{
        width: 100%;
        border-radius: 15px 0 15px 0 ;
        opacity: 1;
      }
      &:hover a {
        color: $bgColor;
      }
      a{
        text-decoration: none;
        font-family: $primaryFont;
        text-transform: capitalize;
        font-size: $fontR1;
        color: white;
        transition: all 0.45s ease-out;
      }
    }
  }
  .scroll-down{
    display: flex;
    align-items: center;
    flex-direction: column;
    &:hover  a{
      animation: moveDown 1s forwards infinite;
      -webkit-animation: moveDown 1s forwards infinite;
      -moz-animation: moveDown 1s forwards infinite;
    }
    &:hover  .text{
      transform: translateY(7px);
      opacity: 1;
    }
    a{
      text-decoration: none;
      color: #fff;
      font-size: $fontL;
      margin-bottom: 10px;
      margin-top: 10px;
      opacity: .5;
    }
    .text{
      list-style: none;
      text-transform: uppercase; 
      text-align: center;
      margin: 0;
      padding: 0;
      color: white;
      font-size: $fontR1;
      font-family: $altFont;
      font-weight: 500;
      opacity: .75;
      transition: all 0.3s ease-in-out;
    }
  }
}
.About{
  flex-direction: row!important;
  grid-column: span 5/5 !important;
  justify-content: space-around !important;
}
.display{
  position: relative;
  font-size: $font7L;
  color: white;
  font-family: $primaryFont;
  font-weight: 400;
  margin:10px;
  padding: 0;
  opacity: 50%;
  align-self: start;
  &::after{
    position: absolute;
    bottom: 20px;
    left: -10%;
    right: 0;
    margin: auto;
    width:120%;
    content: ' ';
    border: #fff solid 1px;
    height: 100%;
    text-align: left;
    margin: 0;
  }
}
.Content{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}
.about-text{
  background-color: rgba(255, 255, 255, 0.4);
  color: #0D1117;
  backdrop-filter: blur(10px);
  padding: 8px;
  border-radius: 15px 0 15px 0 ;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 480px){
  .grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(190px, 1fr));
    gap: .5rem;
    .grid-item{
      grid-column: span 2/3;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 8px;
      .h1{
        font-size: $font2L;
        font-weight: 600;
        text-align: center;
        opacity: .83;
      }
      .h2{
        font-size: $fontR1;
        font-weight: 600;
        text-align: center;
      }
      .p{
        width: 95%;
        font-weight: 400;
        text-align: center;
      }
      .line{
        border-color: white;
        width: 75%;
      }
      .button{
        align-self: center;
      }
    }
  }

  .Nav-Bar-Links{
    a{
      margin: 0 4rem;
    }
  }
  .close-button{
    padding: 0 1rem;
  }
  .Hamburger{
    margin:  1rem;
    right: 1rem;
    top: 0;
    scale: .8;
  }
  .Page-Logo{
    margin: 1rem;
    .logo{
      font-size: $fontL;
    }
  }
  .socials{
    justify-content: space-around;
  }
  .scroll-down{
    order: 2;
    grid-column: span 4/5;
    grid-row: 2/span 1;
    align-self: start;
    .text{
      display: flex;
      li{
        margin: 0 .75rem;
      }
    }
  }
  
}
  


@media screen and (max-width: 820px) and (min-width: 430px){
  .Hamburger{
    margin: 4rem 0;
    right: 4rem;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 75vh auto;
    height: 100vh;
    gap: .5rem;
    .grid-item{
      grid-column: span 3/4;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 32px;
      .h1{
        font-size: $font3L;
        text-align: center;
      }
      .h2{
        font-size: $font2L;
        text-align: center;
      }
      .p{
        width: 95%;
        text-align: center;
      }
      .line{
        border-color: white;
        width: 95%;
      }
    }
  }
  .scroll-down{
    order: 2;
    grid-column: span 4/5;
    grid-row: 2/span 1;
    align-self: start;
    .text{
      display: flex;
      li{
        margin: 0 .75rem;
      }
    }
  }
  .about{
    margin-left:3rem;
    .line{
      width: 110% !important;

    }
  }
  .display{
    font-size: $font6L;
    align-self: center;
    br{
      display: none;
    }
  }
  .about-text{
    align-self: center;
  }
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    height: 4px;
    width: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

@-webkit-keyframes moveDown{
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(25px);
    opacity: 0;
  }
}